<!-- <p>
  occasion works!
</p>
<p>
  We offer the below events by which you can celebrate occasion.
</p> -->
<div style="display:flex; flex-wrap:wrap"><div class="card " *ngFor="let prod of products">
  <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="prod.image" alt="Placeholder image">
          </figure>
        </div>
<div class="card-content">
  <p class="title is-5"> {{prod.name}} </p>
  <p class="subtitle is-7">{{prod.department}} </p>
  <p class="subtitle is-7">{{prod.product}} </p>
</div>
<footer class="card-footer">
  <div class="card-footer-item">
      <div>Price</div>  <b>{{prod.price}}</b>
  </div>
  <div class="card-footer-item">
      <div>Available Color </div>
      <span [style.backgroundColor]="prod.color" style="display: inline-block;width:32px;height: 32px;"></span>
  </div>
</footer>
</div>

</div>
